<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBuildBaseVersion</key>
	<string>1.20</string>
	<key>CFBuildDate</key>
	<string>2012-01-24 15:07:52</string>
	<key>CFBuildNumber</key>
	<string>775</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>libPanicARLib</string>
	<key>CFBundleIdentifier</key>
	<string>com.dopanic.panicarlib</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.20.775</string>
</dict>
</plist>
